@model ErrorViewModel
@{
    ViewData["Title"] = "Fel";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Ett fel har uppstått</h1>
    <p class="lead">@Model.ErrorMessage</p>
    <a asp-controller="Transactions" asp-action="Index" class="btn btn-primary mt-3">Tillbaka till startsidan</a>
</div>
